<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <title>CRUD NEMY</title>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Contactos</h2>
<a href="/new" class="btn btn-default">Nuevo</a>
<br><br>
<% if(persons.length>0){%>
<table class="table table-bordered" border="1">
<thead>
	<th>Nombre</th>
	<th>Apellido</th>
	<th>Telefono</th>
	<th></th>
</thead>
  <% for(var i=0; i<persons.length; i++) {%>
    <tr class="quote">
      <td><%= persons[i].name %></td>
      <td><%= persons[i].lastname %></td>
      <td><%= persons[i].phone %></td>
      <td>
      	<a href="/edit/<%= persons[i].id %>" class="btn-xs btn btn-warning">Editar</a>
      	<a href="/delete/<%= persons[i].id %>" class="btn-xs btn btn-danger">Eliminar</a>
      </td>
    </tr>
  <% } %>
</table>
<%} else {%>
<p class="alert alert-warning">No hay contactos</p>
<% } %>
</div>
</div>
</div>
</body>
</html>